CONFIG_TARGET_bcm27xx=y
CONFIG_TARGET_bcm27xx_bcm2712=y
CONFIG_TARGET_bcm27xx_bcm2712_DEVICE_rpi-5=y
CONFIG_PACKAGE_kmod-r8125=y
CONFIG_PACKAGE_nfs-kernel-server=y
CONFIG_PACKAGE_kmod-fs-nfsd=y
CONFIG_PACKAGE_kmod-fs-nfs=y
CONFIG_PACKAGE_kmod-fs-exportfs=y
CONFIG_PACKAGE_kmod-i2c-bcm2835=y
CONFIG_PACKAGE_kmod-i2c-core=y
CONFIG_PACKAGE_kmod-rtc-ds1307=y
CONFIG_PACKAGE_kmod-rtc-core=y
CONFIG_PACKAGE_kmod-rtc-sysfs=y
CONFIG_PACKAGE_sysntpd=y
CONFIG_PACKAGE_dnsmasq=y
CONFIG_PACKAGE_syslinux=y
CONFIG_PACKAGE_kmod-fs-ext4=y
CONFIG_PACKAGE_kmod-fs-vfat=y